<ion-view title="แชทกับลูกค้า {{firebaseuser}}">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-chevron-left" ng-click="backMessage()"></button>
  </ion-nav-buttons>
  <ion-content class="content-stable">
    <body>
      <div class="wrapper"></div>
    </body>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
        <input type="text" placeholder="พิมพ์ข้อความที่นี่" class="message"/>
      </label>
    <button class="button button-clear" ng-click="btnUp2()">
        <font color="teal">ส่ง</font>
      </button>
  </ion-footer-bar>
</ion-view>
