<ion-view view-title="แสดงความคิดเฆ้น">
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
    <form name="noteForm">
        <ion-content overflow-scroll="false">
            <md-toolbar class="bar-subheader md-tall md-primary toolbar-medium toolbar-in-content">
                <div>
                    <h1>
                        <i class="ion-android-list"></i>
                    </h1>
                    <h3>Note detail</h3>
                </div>
                <a class="md-button md-accent md-fab fab-toolbar-medium" ng-click="showListBottomSheet($event,noteForm)" aria-label="showListBottomSheet">
                    <i class="ion-android-star"></i>
                </a>
            </md-toolbar>
            <div id="note-detail-content">
                <p><i class="ion-android-calendar"></i> {{note.createDate}}</p>
                <md-input-container md-no-float>
                    <input required name="noteTitle" placeholder="Note Title (Required)" ng-model="note.title">
                </md-input-container>
                <textarea rows="7" ng-model="note.detail" maxlength="250" placeholder="Write something here ...."></textarea>
                <span>{{(note.detail.length > 0 ? note.detail.length :0) | json}}/250</span>
            </div>
        </ion-content>
    </form>
    <script type="text/ng-template" id="contract-actions-template">
        <md-bottom-sheet class="md-list md-has-header">
            <h1 class="md-bottom-sheet-header">Note Actions</h1>
            <md-list>
                <md-list-item>
                    <a class="md-default-theme md-bottom-sheet-list-item" ng-class="{ 'disabled-link': disableSaveBtn}" ng-click="saveNote(note,$event)">
                        <i class="ion-android-list"></i>
                        <span>Save Note</span>
                    </a>
                </md-list-item>
                <md-list-item ng-show="actionDelete">
                    <a class="md-default-theme md-bottom-sheet-list-item" ng-click="deleteNote(note,$event)">
                        <i class="ion-android-delete"></i>
                        <span>Remove Note</span>
                    </a>
                </md-list-item>
            </md-list>
        </md-bottom-sheet>
    </script>
</ion-view>
