<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced  material-background-nav-bar">
            <ion-nav-buttons side="left">
                <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
        <div class="material-background" id="toggle-menu-left-header">
            <div class="menu-left-header">
                <img class="user-img" src="img/shopping.png">
                <p>
                    <span class="title">Konhaa </span><br/>
                    <span class="sub-title">Welcome to Konhaa application</span>
                </p>
            </div>
        </div>
        <ion-content id="toggle-menu-left-content" overflow-scroll="false">
            <!--If device is android application will present below code.-->
            <!--It will disable animation to better performance on android.-->
            <!--list section-->
            <div ng-if="isAndroid" class="menu-list">
                <div class="row menu-item" ng-click="navigateTo('app1.home')">
                    <div class="col-33">
                        <i class="fa fa fa-home"></i>
                    </div>
                    <div class="col-66">
                        <span>หน้าหลัก</span>
                    </div>
                </div>
                <div class="row menu-item" ng-click="navigateTo('app1.signup')">
                    <div class="col-33">
                        <i class="fa fa-registered"></i>
                    </div>
                    <div class="col-66">
                        <span>ลงทะเบียน</span>
                    </div>
                </div>
                <div class="row menu-item" ng-click="navigateTo('app1.login')">
                    <div class="col-33">
                        <i class="fas fa-sign-in-alt"></i>
                    </div>
                    <div class="col-66">
                        <span>เข้าสู่ระบบ</span>
                    </div>
                </div>
            </div>

            <!--If device is not Android application will present below code.-->
            <!--It will show animation when selecting row.-->
            <md-list ng-if="!isAndroid">
                <md-list-item class="menu-list-item" ng-click="navigateTo('app1.home')">
                    <i class="fa fa-home"></i>
                    <span>หน้าหลัก</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app1.signup')">
                    <i class="fa fa-registered"></i>
                    <span>ลงทะเบียน</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app1.login')">
                    <i class="fas fa-sign-in-alt"></i>
                    <span>เข้าสู่ระบบ</span>
                </md-list-item>
            </md-list>
        </ion-content>
    </md-sidenav>
</ion-side-menus>
