<ion-view title="รายการโปรโมชั่น" id="online-course">
    <ion-content id="online-course-content" overflow-scroll="false">
        <div class="card" id="advertise-card" ng-repeat="ads in adsArray" style="border: 3px solid red;">
            <div class="item item-icon-right" style="text-align: center;">
                <p style="font-weight: bold; font-size: 20px;">{{ads.advertise_text_1}}</p>
                <p style="font-weight: bold; font-size: 18px;">{{ads.advertise_text_2}}</p>
                <p style="font-weight: bold; font-size: 18px;">{{ads.advertise_text_3}}</p>
                <i class="icon fas fa-times" ng-click="closeCard()"></i>
            </div>
        </div>
        <div class="course-list" style="margin-top: 20px;">
            <div class="course-item" ng-repeat="promotionlist in PromotionListArray" ng-click="btnDetail(promotionlist.promotion_id)">
                <div class="title ios-course-background">{{promotionlist.title}}</div>
                <div class="content">
                    <h1>{{promotionlist.detail}}</h1>
                    <p>
                        เงื่อนไขสิทธิ์ : {{promotionlist.promotion_frequency}}</br>
                        มีสิทธิ์แล้ว : {{promotionlist.mp_frequency}}</br>
                        <!-- หมดเขตโปรโมชั่น : {{promotionlist.promotion_end_date}}
                      </p> -->
                        <a ng-if="promotionlist.remain > 15">หมดเขตโปรโมชั่น : {{promotionlist.promotion_end_date}}</a>
                        <a style="color: orange;" ng-if="promotionlist.remain < 15 && promotionlist.remain > 0">หมดเขตโปรโมชั่น : {{promotionlist.promotion_end_date}}</a>
                        <a style="color: red;" ng-if="promotionlist.remain <= 0">หมดเขตโปรโมชั่น : {{promotionlist.promotion_end_date}}</a>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
