<ion-view title="รายละเอียดสินค้า">
    <ion-content id="cube-feed-content" overflow-scroll="false">
        <div class="feed-list row">
            <div class="col">
                <div class="feed-item">
                    <div class="feed-img" style="background-image: url('img/cube_feed_03.png')"></div>
                    <div class="feed-content row">
                        <div class="col left">
                            <i class="ion-android-camera"></i> 18K
                        </div>
                        <div class="col right">
                            <i class="ion-android-pin"></i> 5K
                        </div>
                    </div>
                </div>
                <div class="feed-item">
                    <div class="feed-img" style="background-image: url('img/cube_feed_01.png')"></div>
                    <div class="feed-content row">
                        <div class="col left">
                            <i class="ion-android-camera"></i> 18K
                        </div>
                        <div class="col right">
                            <i class="ion-android-pin"></i> 5K
                        </div>
                    </div>
                </div>
                <div class="feed-item">
                    <div class="feed-img" style="background-image: url('img/cube_feed_02.png')"></div>
                    <div class="feed-content row">
                        <div class="col left">
                            <i class="ion-android-camera"></i> 18K
                        </div>
                        <div class="col right">
                            <i class="ion-android-pin"></i> 5K
                        </div>
                    </div>
                </div>
                <div class="feed-item">
                    <div class="feed-img" style="background-image: url('img/cube_feed_03.png')"></div>
                    <div class="feed-content row">
                        <div class="col left">
                            <i class="ion-android-camera"></i> 18K
                        </div>
                        <div class="col right">
                            <i class="ion-android-pin"></i> 5K
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="feed-item">
                    <div class="feed-img" style="background-image: url('img/cube_feed_02.png')"></div>
                    <div class="feed-content row">
                        <div class="col left">
                            <i class="ion-android-camera"></i> 18K
                        </div>
                        <div class="col right">
                            <i class="ion-android-pin"></i> 5K
                        </div>
                    </div>
                </div>
                <div class="feed-item">
                    <div class="feed-img" style="background-image: url('img/cube_feed_03.png')"></div>
                    <div class="feed-content row">
                        <div class="col left">
                            <i class="ion-android-camera"></i> 18K
                        </div>
                        <div class="col right">
                            <i class="ion-android-pin"></i> 5K
                        </div>
                    </div>
                </div>
                <div class="feed-item">
                    <div class="feed-img" style="background-image: url('img/cube_feed_04.png')"></div>
                    <div class="feed-content row">
                        <div class="col left">
                            <i class="ion-android-camera"></i> 18K
                        </div>
                        <div class="col right">
                            <i class="ion-android-pin"></i> 5K
                        </div>
                    </div>
                </div>
                <div class="feed-item">
                    <div class="feed-img" style="background-image: url('img/cube_feed_01.png')"></div>
                    <div class="feed-content row">
                        <div class="col left">
                            <i class="ion-android-camera"></i> 18K
                        </div>
                        <div class="col right">
                            <i class="ion-android-pin"></i> 5K
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
