<ion-view title="รีวิว">
    <ion-content id="news-feed-content" overflow-scroll="false">
        <div class="news-item">
            <div class="row header">
                <div class="col-20">
                    <img src="img/app_icon.png" class="user-img"/>
                </div>
                <div class="col-80">
                   <span class="name">ประวิตร วงแจกัน</span><br/>
                   <span class="datetime">17 มกราคม 2561 17:11:30 น.</span>
                </div>
            </div>
            <div class="row detail">
                <div class="col">
                    <p class="content">นาฬิกาที่ซื้อมามีปัญหามากครับ</p>
                </div>
            </div>
        </div>
        <div class="news-item">
            <div class="row header">
                <div class="col-20">
                    <img src="img/app_icon.png" class="user-img"/>
                </div>
                <div class="col-80">
                    <span class="name">ประยุทธ จันโทลา</span><br/>
                    <span class="datetime">17 มกราคม 2561 17:11:30 น.</span>
                </div>
            </div>
            <div class="row detail">
                <div class="col">
                    <p class="content">เรือดำน้ำที่ซื้อมากำไรมากเลยครับ</p>
                </div>
            </div>
        </div>
        <div class="row"></div>
    </ion-content>
</ion-view>
