<ion-view title="แนะนำร้านค้า">
    <ion-content id="social-sign-up-content" overflow-scroll="false">
        <div class="app-icon">
            <img src="img/shopping2.png" class="md-card-image" id="myImage"></br></br>
            <a class="md-raised md-button md-default-theme" ng-click="btnShopPicByGallery()">อัพโหลดรูปร้านค้า</a>
        </div>
        <md-input-container md-no-float="">
            <div>
                <input class="user-name" placeholder="ชื่อร้านค้า *" style="width: 300px;" ng-model="shop.shop_name">
            </div>
        </md-input-container>
        <md-input-container md-no-float="">
            <textarea class="user-name" placeholder="รายละเอียดร้านค้า ความยาว 100 ตัวอักษร *" ng-model="shop.shop_desc"
                style="border-bottom-style: solid; border-color: rgba(0, 0, 0, 0.12); border-width: 1px; width: 300px;" maxlength="100">
            </textarea>
        </md-input-container>
        <md-input-container md-no-float="">
            <div>
                <input class="user-name" placeholder="เบอร์โทรศัพท์มือถือ *" style="width: 300px;" ng-model="shop.mobile_number" maxlength="10" minlength="10">
            </div>
        </md-input-container>
        <p>ตำแหน่งที่ตั้งของร้าน
            <font style="color: #d73d32;">ตำแหน่งที่ท่านรีวิวจะเป็นตำแหน่งของร้าน</font>
        </p>
        <md-input-container md-no-float="">
            <div>
                <input class="user-name" placeholder="ละติจูดของร้าน *" style="width: 284px;" ng-model="latitude" disabled>
            </div>
        </md-input-container>
        <md-input-container md-no-float="">
            <div>
                <input class="user-name" placeholder="ลองติจูดของร้าน *" style="width: 284px;" ng-model="longitude" disabled>
            </div>
        </md-input-container>
        <div class="app-icon">
            <img src="img/shopping.png" class="md-card-image" id="myImage0">
            <img src="img/shopping.png" class="md-card-image" id="myImage1">
            <img src="img/shopping.png" class="md-card-image" id="myImage2">
            <img src="img/shopping.png" class="md-card-image" id="myImage3"></br></br>
            <a class="md-raised md-button md-default-theme" ng-click="getImageSaveContact()">อัพโหลดรูปสินค้า</a>
        </div>
        <md-input-container md-no-float="">
            <div>
                <input class="user-name" placeholder="ชื่อสินค้า *" style="width: 300px;" ng-model="form.txt_productname" >
            </div>
        </md-input-container>
        <md-input-container md-no-float="">
            <div>
                <input  class="user-name" placeholder="รายละเอียดสินค้า *" style="width: 300px;" ng-model="form.txt_detailproduct" >
            </div>
        </md-input-container>
        <a class="md-raised social-button md-button md-default-theme material-background" ng-click="btnShopReview()">ลงทะเบียนร้านค้า</a>
    </ion-content>
</ion-view>
