<ion-view title="ลงทะเบียนสมาชิก" hide-nav-bar="false">
    <ion-content id="social-sign-up-content" overflow-scroll="false">
        <div class="app-icon">
            <img src="img/shopping2.png" class="md-card-image" id="myImage"></br></br>
            <a class="md-raised md-button md-default-theme" ng-click="btnProfilePicByGallery()">อัพโหลดรูปโปรไฟล์</a>
            <!-- <a class="md-raised md-button md-default-theme" ng-click="showListBottomSheet($event)">
              อัพโหลดรูปโปรไฟล์
            </a> -->
        </div>
        <md-input-container md-no-float="">
            <div>
                <input class="user-name" placeholder="ชื่อผู้ใช้ 6-12 ตัวอักษร *" style="width: 300px;" ng-model="form.txt_username" minlength="6" maxlength="12">
            </div>
        </md-input-container>
        <md-input-container md-no-float="">
            <div>
                <input type="password" class="user-name" placeholder="รหัสผ่าน 6-12 ตัวอักษร *" style="width: 300px;" ng-model="form.txt_password" minlength="6" maxlength="12">
            </div>
        </md-input-container>
        <md-input-container md-no-float="">
            <div>
                <input type="password" class="user-name" placeholder="ยืนยันรหัสผ่าน *" style="width: 300px;" ng-model="form.txt_cfmpassword" minlength="6" maxlength="12">
            </div>
        </md-input-container>
        <md-input-container md-no-float="">
            <div>
                <input class="user-name" placeholder="ชื่อ *" style="width: 300px;" ng-model="form.txt_firstname">
            </div>
        </md-input-container>
        <md-input-container md-no-float="">
            <div>
                <input class="user-name" placeholder="นามสกุล *" style="width: 300px;" ng-model="form.txt_lastname">
            </div>
        </md-input-container>
        <md-input-container md-no-float="">
            <div>
                <input class="user-name" placeholder="เบอร์โทรศัพท์ที่ติดต่อได้ *" style="width: 300px;" ng-model="form.txt_mobile" minlength="10" maxlength="10">
            </div>
        </md-input-container>
        <md-input-container md-no-float="">
            <div>
                <input class="user-name" placeholder="Email (ใช้ในกรณีลืมรหัสผ่าน) *" style="width: 300px;" ng-model="form.txt_email">
            </div>
        </md-input-container>
        <!-- <md-checkbox aria-label="CheckboxTerms" ng-model="form.checkbox" ng-click="openModal()">
          ฉันยอมรับข้อกำหนดและเงื่อนไขในการให้บริการ
        </md-checkbox> -->
        <a class="md-raised social-button md-button md-default-theme material-background" ng-click="btnSignup()">ลงทะเบียนสมาชิก</a>
    </ion-content>
</ion-view>

<!-- <script type="text/ng-template" id="ui-list-bottom-sheet-template">
  <md-bottom-sheet class="md-list md-has-header">
    <h1 class="md-bottom-sheet-header">รายการอัพโหลดรูปโปรไฟล์</h1>
    <md-list>
      <md-list-item>
        <a class="md-default-theme md-bottom-sheet-list-item" ng-click="btnProfilePicByCamera()">
          <i class="fa fa-camera"></i>
          <span>กล้องถ่ายรูป</span>
        </a>
      </md-list-item>
      <md-list-item>
        <a class="md-default-theme md-bottom-sheet-list-item" ng-click="btnProfilePicByGallery()">
          <i class="fa fa-image"></i>
          <span>อัลบั้มภาพ</span>
        </a>
      </md-list-item>
    </md-list>
  </md-bottom-sheet>
</script> -->
