<ion-view title="ข้อกำหนดและเงื่อนไขในการให้บริการ">
    <ion-content id="social-sign-up-content" overflow-scroll="false">
        <p style="margin-top: 20px; font-size: 13px;">
            <b>ความเกี่ยวข้องของคุณกับ Konhaa</b><br>
            1. App ของบริษัท สมาร์ท ออนไลน์ จำกัด ในชื่อ App "Konhaa" ซึ่งต่อไปจะเรียกว่า "ผู้ให้บริการ"<br>
            2. สิ่งที่คุณใช้ ไม่ว่าจะเป็น ผลิตภัณฑ์ ซอฟต์แวร์ บริการ App หรือเว็บไซต์ ของผู้ให้บริการ ซึ่งต่อไปจะเรียกว่า "บริการ"<br>
            3. คุณซึ่งเป็นผู้ใช้บริการไม่ว่าจะส่วนใดส่วนหนึ่งหรือทั้งหมดของผู้ให้บริการ ซึ่งต่อไปจะเรียกว่า "ผู้ใช้บริการ" โดยจะแยกได้ดังนี้<br>
            4. เจ้าของสินค้าหรือผู้ที่นำสินค้ามาจัดจำหน่ายบนเว็บไซต์ผ่านบริการของผู้ให้บริการ ซึ่งต่อไปจะเรียกว่า "ผู้ขาย" ผู้สั่งซื้อสินค้า และ/หรือ ใช้บริการเว็บไซต์ของผู้ขาย ซึ่งต่อไปจะเรียกว่า "ผู้ซื้อ"<br><br>

            <b>ผู้ใช้บริการตกลงจะปฏิบัติตามข้อตกลงและเงื่อนไขต่างๆ</b><br>
            1.	การใช้บริการของผู้ให้บริการนั้นผู้ใช้บริการจำเป็นต้องเข้าใจและยอมรับข้อตกลงและเงื่อนไขต่างๆของผู้ให้บริการทั้งหมด<br>
            2.	จะถือว่าผู้ใช้บริการเข้าใจและยอมรับข้อตกลงและเงื่อนไขต่างๆ หากดำเนินการดังต่อไปนี้<br>
            3.	ผู้ใช้บริการคลิกปุ่มตกลงและยอมรับเงื่อนไข ซึ่งทางผู้ให้บริการจะมีทางเลือกที่จะยอมรับหรือไม่ก่อน หรือ แสดงแจ้งเตือนการยอมรับของผู้ใช้บริการก่อนการคลิกปุ่มตกลง<br>
            4.	ผู้ใช้บริการเข้าใช้บริการของผู้ให้บริการซึ่งในกรณีนี้ผู้ใช้บริการต้องยอมรับว่าทางผู้ให้บริการจะถือว่าผู้ใช้บริการเข้าใจและยอมรับข้อตกลงและเงื่อนไขต่างๆ ตั้งแต่เริ่มใช้บริการเป็นต้นไป<br>
            5.	ผู้ใช้บริการควรพิมพ์ข้อตกลงและเงื่อนไขต่างๆของผู้ให้บริการเพื่อเป็นบันทึกช่วยจำของผู้ใช้บริการ<br><br>

            <b>ข้อตกลงและเงื่อนไขของผู้ให้บริการ</b></br>
            ผู้ให้บริการขอสงวนสิทธิ์ไม่ให้บริการเว็บไซต์ร้านค้า ดังต่อไปนี้<br>
            1.	เว็บไซต์ที่ใช้ในจุดประสงค์อื่นๆที่ไม่ใช่เพื่อการซื้อ-ขายสินค้า เช่น<br>
            2.	เว็บไซต์รับประกาศสินค้า<br>
            3.	เว็บไซต์รวมลิงก์<br>
            4.	เว็บไซต์สื่อกลางระหว่างเว็บไซต์<br>
            5.	เว็บไซต์ขายสินค้าแบบ Affiliate เป็นต้น<br>
            6.	ผิดกฎหมายหรือขัดต่อศีลธรรมอันดีของไทย เช่น การละเมิดลิขสิทธิ์ของผู้อื่น การข่มขู่ เว็บไซต์ที่เกี่ยวกับสื่อลามก หรือ เนื้อหาส่อไปทางลามก เซ็กส์ ขายบริการทางเพศ รวมทั้งเว็บไซต์ที่มีลิงค์ไปยังเว็บไซต์ที่เกี่ยวกับสื่อลามก<br>
            7.	พบทุจริต ฉ้อโกง ในการซื้อ-ขาย ไม่ว่ากรณีใดๆ ทั้งสิ้น (ทั้งในอดีตและปัจจุบัน) ทั้งนี้ผู้ให้บริการขอสงวนสิทธิ์ในการตัดสินใจว่าสิ่งใดถือว่าเป็นการทุจริต<br>
            8.	เกี่ยวกับ Hacker , Warez , Crack, เผยแพร่ไวรัส หนอนอินเตอร์เน็ต โทร์จัน หรืออื่นๆ ที่เกี่ยวข้องกับซอฟท์แวร์ผิดกฏหมาย<br>
            9.	หลอกลวงผู้อื่นด้วยการแสดงข้อความอันเป็นเท็จ โฆษณาเกินจริง หรือปกปิดข้อความจริงซึ่งควรบอกให้แจ้ง<br>
            10.	ใช้งานที่ส่งผลกระทบกระเทือนกับต่อระบบและทรัพยากรของระบบ อาทิเช่น การใช้งาน CPU เกินขอบเขต การใช้งาน Email เกินขอบเขต การเจาะระบบ (Hacking) การใช้งานโปรแกรม IRC Bots หรือการใช้งานโปรแกรมใด ๆ ที่ส่งผลกระทบต่อการทำงานของระบบ และผู้ให้บริการขอสงวนสิทธิ์ในการพิจารณาว่า การใช้งานใดเป็นการใช้งานอย่างเกินขอบเขต<br>
            11.	มีการทำ Commercial Mass Emailing หรือ "Spamming" ไม่ว่ากรณีใดๆ ทั้งสิ้น เช่น การส่งโฆษณาไปยังอีเมลผู้อื่นโดยผู้อื่นไม่ได้ขอ, การส่งอีเมลโดยใช้ที่อยู่ส่งกลับที่ไม่มีจริงทางด้านธุรกิจ, การส่งข้อความลูกโซ่เพื่อจะทำให้เกิดการตอบกลับจำนวนมาก และการส่งข้อความซ้ำๆ เดิมๆ ไปยังผู้อื่น เป็นต้น<br>
            12.	มีข้อมูลและไฟล์ต่างๆ บนเครื่องเซิฟเวอร์ของผู้ให้บริการ ติดไวรัส มัลแวร์ ไมว่ากรณีใดๆ<br>
            13.	มีการ เพิ่ม เปลี่ยนแปลง หรือลบ การทำงานหรือการแสดงผลส่วนต่างๆ ของระบบร้านค้า เช่น การนำตะกร้าสินค้า, การสร้างสัญลักษณ์หรือภาพของตนเองเจตนาหลอกลวงว่าเป็นของระบบ<br>
            <font color="red">14.	หากผู้ให้บริการตรวจพบเว็บไซต์ร้านค้าที่ผิดข้อตกลงตามดังกล่าว <u>จะดำเนินการงดการให้บริการทันที โดยไม่มีการคืนค่าบริการใดๆ ทั้งสิ้น และไม่จำเป็นต้องแจ้งให้ทราบล่วงหน้า</u> ทั้งนี้ผู้ให้บริการขอสงวนสิทธิ์ในการพิจารณาตรวจสอบร้านค้าว่าผิดตามข้อตกลงหรือไม่ หากมีข้อโต้แย้งใดๆ ให้ถือเอาคำตัดสินของผู้ให้บริการเป็นที่สิ้นสุด</font><br><br>

            <b>ข้อตกลงในการจำหน่ายสินค้า</b></br>
            ผู้ให้บริการมีความประสงค์ที่ให้ผู้ใช้บริการสามารถจำหน่ายสินค้าผ่านระบบร้านค้าเท่านั้น อย่างไรก็ตามผู้ให้บริการอนุโลมให้สามารถใช้บริการในรูปแบบการประกาศขายสินค้าของตนได้ เช่น อสังหาริมทรัพย์ รถยนต์ เป็นต้น โดยผู้ให้บริการขอสงวนสิทธิ์ไม่ให้บริการเว็บไซต์ร้านค้า ที่จำหน่ายหรือประชาสัมพันธ์สินค้า ดังต่อไปนี้</br>
            1.	สินค้าผิดกฏหมายหรือขัดต่อศีลธรรมอันดีของไทย</br>
            2.	สินค้าลอกเลียนแบบ ไม่ได้รับอนุญาต ละเมิดเครื่องหมายการค้า สิทธิบัตร ลิขสิทธิ์ หรือ ทรัพย์สินทางปัญญา ของผู้อื่นหรือคณะบุคคลอื่นในทุกประเทศทั่วโลก</br>
            3.	ฝิ่น ยาสูบ ยาเสพติดทุกชนิด</br>
            4.	สัตว์ที่ใกล้สูญพันธุ์หรือสัตว์ที่ได้รับความคุ้มครองตามกฎหมาย รวมทั้งผลิตภัณฑ์ที่ผลิตจากสัตว์เหล่านี้</br>
            5.	ผลิตภัณฑ์ที่ใช้ถอดรหัสเคเบิ้ลและสัญญาณดาวเทียมเพื่อใช้บริการเคเบิลฟรี</br>
            6.	อุปกรณ์พลุไฟ วัสดุและสสารที่มีพิษ ระเบิดได้ ติดไฟ และมีกัมมันตรังสี ซึ่งรวมไปถึงข้อมูลเกี่ยวกับวิธีสร้างอุปกรณ์ระเบิด</br>
            7.	อาวุธหรืออุปกรณ์อันตรายที่ผิดกฎหมาย</br>
            8.	สินค้าที่มีการโฆษณาเกินจริง</br>
            <font color="red">หากผู้ให้บริการตรวจพบร้านค้าที่ผิดข้อตกลงตามดังกล่าว <u>จะดำเนินการงดการให้บริการทันที และไม่จำเป็นต้องแจ้งให้ทราบล่วงหน้า</u> ทั้งนี้ผู้ให้บริการขอสงวนสิทธิ์ในการพิจารณาตรวจสอบร้านค้าว่าผิดตามข้อตกลงหรือไม่ หากมีข้อโต้แย้งใดๆ ให้ถือเอาคำตัดสินของผู้ให้บริการเป็นที่สิ้นสุด</font></br></br>

            <b>ข้อตกลงขอบเขตความรับผิดชอบของผู้ให้บริการ</b></br>
            ผู้ใช้บริการต้องเข้าใจและยอมรับ การให้บริการของผู้ให้บริการดังนี้</br>
            1.	ผู้ให้บริการมีหน้าที่เพียงให้บริการในการอำนวยความสะดวกในการซื้อขายสินค้าระหว่างผู้ซื้อและผู้ขายเท่านั้น ผู้ให้บริการไม่มีส่วนเกี่ยวข้องใดๆ กับสินค้าของผู้ขายแต่อย่างใด</br>
            2.	หากผู้ใช้บริการได้กระทำผิดตามข้อตกลงของสัญญาฉบับนี้ หรือทุจริตในการซื้อ-ขายสินค้า ผู้ใช้บริการจำเป็นต้องชดเชยต่อความเสียหายอันเกิดจากการกระทำดังกล่าวต่อผู้ให้บริการ และ/หรือบุคคลอื่นที่ได้รับความเสียหาย หรือถูกละเมิดจากกรณีดังกล่าวทั้งหมด รวมถึงจะต้องถูกดำเนินคดีตามกฏหมายต่อไป</br>
            3.	ผู้ให้บริการจะไม่รับผิดชอบค่าเสียหายหรือค่าตอบแทนใดๆทั้งสิ้น หากผู้ใช้บริการถูกหลอกลวงหรือฉ้อโกงทรัพย์สินจากผู้ใช้บริการอื่น แต่ทางผู้ให้บริการยินดีที่จะให้ความช่วยเหลือถึงที่สุดเพื่อให้ได้ทรัพย์สินของผู้ใช้บริการกลับคืนมา นอกจากนั้นทางผู้ให้บริการจะแสดงระดับความน่าเชื่อถือของร้านค้าไว้ที่ร้านค้าออนไลน์นั้นๆ เพื่อเป็นข้อมูลให้ผู้ใช้บริการประกอบการตัดสินใจในการเลือกซื้อสินค้า</br>
            4.	ผู้ให้บริการไม่อาจให้การรับประกันว่า บริการจะมีอย่างต่อเนื่องโดยไม่มีการหยุด หรือไม่มีข้อบกพร่องใด ๆ และผู้ให้บริการจะไม่รับผิดชอบต่อการกระทำโดยจงใจ หรือโดยประมาทเลินเล่อในการทำหน้าที่ของบุคคลที่สาม เช่น ปัญหาการเชื่อมต่ออินเตอร์เน็ต การติดขัดในช่องสัญญาณ เครือข่ายอินเตอร์เน็ต การสื่อสารผิดพลาด ภัยธรรมชาติ การก่อการร้าย อัคคีภัย หรือการหยุดให้บริการชั่วคราว และจากปัญหาที่มิได้เป็นปัญหาของผู้ให้บริการ</br>
        </p>
        <md-checkbox aria-label="CheckboxTerms" ng-model="termandcondition.checkbox" ng-click="openModal()">ฉันยอมรับข้อกำหนดและเงื่อนไขในการให้บริการ</md-checkbox>
        <button class="md-raised social-button md-button md-default-theme material-background" ng-click="btnCreateShop()" style="margin-left: 2%; width: 96%; margin-right: 20%;">สร้างร้านค้า</button>
    </ion-content>
</ion-view>
